# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\gabsn\OneDrive\Escritorio\Tópicos Avanzados de Programación\Practicas\Unidad 3\u3BDCalificacionesApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
